@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}


body{
    font-size: 16px;
    font-family: 'Overpass', sans-serif;
}


.container{
    width: 100%;
    height: 100vh;
    background: linear-gradient(100deg, #153677, #4e085f);
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.to-do-app{
    width: 40%;
    padding: 20px;
    background-color: #fff;
    border-radius: 15px;
    
}

.row{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-radius: 30px;
    margin-top: 10px;
    background-color: rgb(224, 224, 224);
    box-shadow: 0px 0px 3px 0px rgb(54, 54, 54);
}

input{
    flex: 1;
    background-color: transparent;
    font-weight: bolder;
    padding: 15px 20px;
    border: none;
    outline: none;
}

button{
    border: none;
    outline: none;
    color: #fff;
    padding: 15px 40px;
    border-radius: 25px;
    background-color: #153677;
    cursor: pointer;
    font-weight: bolder;
    font-family: 'Overpass', sans-serif;
    box-shadow: 0px 0px 3px 0px rgb(54, 54, 54);
}

ul{
    margin-top: 15px;
}

ul li{
    width: 100%;
    font-weight: bolder;
    cursor: pointer;
    user-select: none;
    position: relative;
    align-items: center;
    padding: 12px 8px 12px 50px;
}

ul li::before{
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border: 2px solid rgb(54, 54, 54);
    border-radius: 50%;
    top: 6px;
    left: 8px;
}

ul li.checked{
    color: #153677;
    text-decoration: line-through;
}

ul li.checked::before{
    background-color: #153677;
}

ul li span{
    position: absolute;
    right: 0;
    top: 6px;
    font-size: 20px;
    padding: 5px;
    width: 30px;
    height: 30px;
    text-align: center;
    font-weight: bolder;
}

ul li span:hover{
    background-color: rgb(235, 231, 231);
    border-radius: 50%;
}